//Helper CSS
//*{
//    border: 2px dashed yellow;
//}

.intro{
    position: absolute;
    left: 10%;
    top: 25%;
    transform: translate(-10%, 0);
    animation: fade-in 2.4s ease-out 0s;
    display: inline-block;
    
    padding: 10px;
    border-image: linear-gradient(to left ,rgba(0, 255, 255, 0.0), rgb(136, 0, 136)) 20;
    border-width: 5px;
    border-style: solid;

    *{
        border: 0;
    }
    
    &.Statement{
        position: relative;
        width: 40vw;
        background-image: linear-gradient(to right, rgba(128, 128, 128, 0.814), rgba(33, 33, 33, 0.151)); 
    }
    &.Photo{
        position: relative;
        display: flex;
        img {
            $imgsize: min(30vw, 30vh);
            width: $imgsize;
            height: $imgsize;
        }
    }
    h1, p{
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size: min(2.5vw, 2.5vh);
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
}



@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}