.container{
    position: absolute;
    left: 10%;
    top: 25%;
    transform: translate(-10%, 0);
    animation: fade-in 2.4s ease-out 0s;

    padding: 10px;
    margin: 10px;

    border-image: linear-gradient(to left ,rgba(0, 255, 255, 0.0), rgb(136, 0, 136)) 20;
    border-width: 5px;
    border-style: solid;

    *{
        position: relative;
        border: 0;
        margin: 10px;
    }
    
}

.block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desc{
    background-image: linear-gradient(to right, rgba(128, 128, 128, 0.814), rgba(33, 33, 33, 0.151)); 
    width: min(50%, 50vw);
    h1, p{
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size: min(2.5vw, 2.5vh);
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    a{
        text-indent: 100%;
        color: rgb(255, 255, 255);
        background-color: black;
    }
}

.photo{

    img {
        $prsize: max(20vw, 30vh);
        object-fit: cover;
        width: 100%;
        height: $prsize;
    }
}



@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}